.h-100-vh {
    height: 100vh;
}

.dropdown-toggle:after {
    vertical-align: .455em!important;
}

.main-min-height {
    min-height: calc(100vh - (4.5rem + 59px));
}

.mb-45 {
    margin-bottom: 2.5rem!important;
}

.mb-55 {
    margin-bottom: 3.5rem!important;
}

.btn-delete-padding {
    padding: .375rem .75rem!important;
}

.clickable-icon {
    cursor: pointer;
}

.material-icons-extra-class {
    display: inline-flex;
    vertical-align: top;
}

.a-nostyling {
    color: inherit!important;
    text-decoration: inherit!important;
}

.user-role-select {
    display: block;
    width: 100%;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.6;
    color: #616161;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #bdbdbd;
    border-radius: .25rem;
    -webkit-transition: all .2s linear;
    transition: all .2s linear;
}

#message {
    display: inline-block;
    padding: 1.5em 2em;
    margin: 1em;
    width: auto;
    position: fixed;
    top: 70px;
    right: 0;
    z-index: 1040;
    transition: opacity 1s ease 5s;
}

#message p {
    display: inline-block;
    margin: 0;
}

.custom-select {
    display: block;
    width: 100%;
    min-height: calc(1.6em + .75rem + 2px);
    padding: .375rem .375rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.6;
    color: #616161;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #bdbdbd;
    border-radius: .25rem;
    -webkit-transition: all .2s linear;
    transition: all .2s linear;
    min-height: auto;
    padding-top: .33em;
    padding-bottom: .33em;
    background: transparent;
    -webkit-transition: all .2s linear;
    transition: all .2s linear;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.custom-select:focus {
    outline: none;
    border-color: #1266f1;
}