.h-100-vh {
    height: 100vh;
}

.dropdown-toggle:after {
    vertical-align: .455em!important;
}

.main-min-height {
    min-height: calc(100vh - (4.5rem + 59px));
}

.mb-45 {
    margin-bottom: 2.5rem!important;
}

.mb-55 {
    margin-bottom: 3.5rem!important;
}

.btn-delete-padding {
    padding: .375rem .75rem!important;
}

.clickable-icon {
    cursor: pointer;
}

.user-role-select {
    display: block;
    width: 100%;
    padding: auto .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.6;
    color: #616161;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #bdbdbd;
    border-radius: .25rem;
    -webkit-transition: all .2s linear;
    transition: all .2s linear;
}